<header class="header">
    <section class="about">
      <a href="/">
        <img src="{{site.url}}/assets/img/hg.png" alt="{{site.url}}">
      </a>
      <h1>حامد قورچیانی</h1>
      <!--<p>توسعه‌دهنده رابط کاربری</p>-->
      <a href="#" class="nav-menu menu-open"><span class="menu-btn" style=""></span></a>
      <nav class="nav nav-list" style="margin-top:8%">
        <ul>
          <li>
            <a href="/biography">
              <div class="center waves-effect waves-side">
                <h4 class="middle">بیوگرافی</h4>
              </div>
            </a>
          </li>
          <li>
            <a href="/works">
              <div class="center waves-effect waves-side">
                <h4 class="middle">نمونه کار</h4>
              </div>
            </a>
          </li>
          <li>{% if site.github %}
            <a href="https://github.com/{{ site.github }}" target="_blank">
              <div class="center waves-effect waves-side">
                <h4 class="middle">گیت‌هاب</h4>
              </div>
            </a>{% endif %}
          </li>
        </ul>
      </nav>
    </section>
  </header>